html {
     height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url(./img/room.jpg);
    background-size: cover; /* Масштабируем изображение */
    background-position: center center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Запрещаем повторение */
    background-attachment: fixed; /* Фиксируем фон при прокрутке */
}

.container_room {    
    height: 100vh;
    display: flex;
    align-items: center;
}

.container_instrument_button {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #00000093;
}

.instruments button {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 10px .5rem;
    transition: all .07s ease;
    width: 8rem;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 .5rem black;
}

.word{
        display: block;
    font-size: 4rem;
}

.instrument{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
    
}

.active{     
    box-shadow: 0px 0px 10px yellow;
    transition: 1s;
    transform: scale(1.1);
}