* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
background: rgb(202, 162, 110);
}

@media (max-width: 767px) { 

    
}

.container_clock {
    display: flex;


}

.clock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/clock.png);
    background-size: cover;
    width: 400px;
    height: 400px;
    box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.384);
    border-radius: 50%;
}

.clock:before {
    content: "";
    position: absolute;
    background: rgb(22, 22, 22);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 100;
}

.sec, .min, .hour{
    position: absolute;    
    width: 24px;
    height: 178px;
    top: 190px;
    left: 190px;
    transform-origin: 12px 11px;    
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.sec{
    background: url(./img/sec.png);
}

.min{
    background: url(./img/min.png);   
}

.hour{    
    background: url(./img/hour.png);
}