* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #193549;
  color: #ffffff;
  font-size: 50px;
  font-family: 'helvetica neue', sans-serif;
  transition: font-size .4s ease;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.filters input {
  width: 100px;
}

.preview {
  max-width: 400px;
  margin: 50px auto;
}

.preview img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 450px) {
  body {
    font-size: 30px;
  }
}