html {
    background-image: url("../assets/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

/*---------------------Instrument Switcher---------------------*/

.switch-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    gap: 15px;
    top: 50px;
    left: 100px;
    border: 3px solid rgba(3, 7, 19, 0.947);
    background: rgba(0, 0, 0, 0.192);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    padding: 10px;
}

.switches {
    display: flex;
    gap: clamp(8px, 1.5vw, 20px);
}

.switch {
    width: clamp(25px, 5.5vw, 80px);
    aspect-ratio: 1/0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.299);
    border-radius: 5px;
    border: 3px solid rgba(3, 7, 19, 0.947);
    cursor: pointer;
    transition: all 0.5s ease;
}

.switch-container span {
    font-size: clamp(14px, 1.9vw, 22px);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.switch span {
    font-size: clamp(7px, 1.5vw, 17px);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 191, 0);
}

.switch:hover {
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 10px rgba(255, 115, 0, 0.452);
}

.active {
    border-color: rgb(255, 132, 0);
    box-shadow: 0 0 10px rgba(255, 115, 0, 0.795);
    background: rgba(0, 0, 0, 0.619);
}

/*--------------------------Keys--------------------------*/

.instrument {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key-row-asd {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(8px, 1.5vw, 20px);
}

.key {
    width: clamp(25px, 6.5vw, 95px);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.619);
    border-radius: 8px;
    border: 4px solid rgba(3, 7, 19, 0.947);
    transition: all 0.09s;
    cursor: pointer;
}

.animated {
    transform: scale(1.2);
    border-color: rgb(255, 173, 9);
    box-shadow: 0 0 20px rgba(255, 173, 9, 0.795);
}

kbd {
    font-size: clamp(15px, 3vw, 35px);
    color: rgb(255, 196, 0);
}

.sound {
    font-size: clamp(10px, 1.5vw, 17px);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*-----------------------Beat Switcher-----------------------*/

.beat-container {
    max-width: 325px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    gap: 15px;
    top: 50px;
    right: 100px;
    border: 3px solid rgba(3, 7, 19, 0.947);
    background: rgba(0, 0, 0, 0.192);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    padding: 10px;
}

.beats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(8px, 1.5vw, 20px);
}

.beat {
    width: clamp(35px, 5.5vw, 85px);
    aspect-ratio: 1/0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.299);
    border-radius: 5px;
    border: 3px solid rgba(3, 7, 19, 0.947);
    cursor: pointer;
    transition: all 0.5s ease;
}

.beat-container span {
    font-size: clamp(14px, 1.9vw, 22px);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.beat span {
    font-size: clamp(5px, 1vw, 15px);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 191, 0);
    text-align: center;
}

.beat:hover {
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 10px rgba(255, 115, 0, 0.452);
}

.beat.active {
    border-color: rgb(255, 132, 0);
    box-shadow: 0 0 10px rgba(255, 115, 0, 0.795);
    background: rgba(0, 0, 0, 0.619);
}

/*-----------------------Cut Switcher-----------------------*/

.cut-toggle-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50px;
    left: 100px;
    gap: 5px;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.635);
    border-radius: 20px;
    padding: 10px;
}

.cut-switch {
  width: 62px;
  height: 32px;
  border: none;
  border-radius: 999px;
  background: #8e8e93;
  padding: 2px;
  cursor: pointer;

  position: relative;

  transition: background-color 0.25s ease;
}

.cut-switch-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;

  position: absolute;
  top: 2px;
  left: 2px;

  transition: transform 0.25s cubic-bezier(.4, 0, .2, 1);
}

.cut-switch.active {
  background: #34c759;
}

.cut-switch.active .cut-switch-thumb {
  transform: translateX(30px);
}

.cut-switch-heading {
    font-size: clamp(12px, 1.9vw, 22px);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.cut-switch-text {
    max-width: 270px;
    width: 100%;
    font-size: clamp(9px, 1.9vw, 16px);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*-----------------------Cut Switcher-----------------------*/

.info-switch-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50px;
    right: 100px;
    gap: 5px;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.635);
    border-radius: 20px;
    padding: 10px;
}

.info-switch {
  width: 62px;
  height: 32px;
  border: none;
  border-radius: 999px;
  background: #8e8e93;
  padding: 2px;
  cursor: pointer;

  position: relative;

  transition: background-color 0.25s ease;
}

.info-switch-thumb {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;

  position: absolute;
  top: 2px;
  left: 2px;

  transition: transform 0.25s cubic-bezier(.4, 0, .2, 1);
}

.info-switch.active {
  background: #34c759;
}

.info-switch.active .info-switch-thumb {
  transform: translateX(30px);
}

.info-switch-heading {
    font-size: clamp(12px, 1.9vw, 22px);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/*--------------------------Info--------------------------*/

.instruments-info {
    position: fixed;
    top: 190px;
    left: 130px;
    text-align: center;
    background: rgba(40, 40, 40, 0.589);
    border-radius: 15px;
    box-shadow: 0 0 35px rgba(36, 36, 36, 0.731);
    padding: 5px;
}

.instruments-info span {
    font-size: clamp(9px, 1.1vw, 15px);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.pads-info {
    position: fixed;
    top: 15%;
}

.playback-info {
    position: fixed;
    top: 280px;
    right: 75px;
    text-align: center;
    background: rgba(0, 0, 0, 0.347);
    border-radius: 15px;
    box-shadow: 0 0 35px rgba(43, 43, 43, 0.845);
    padding: 5px;
}

.playback-info span {
    font-size: clamp(9px, 1.1vw, 15px);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.credits {
    position: fixed;
    bottom: 0;
    right: 0;
    text-decoration: none;
    color: rgb(180, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
}