
html[data-theme='light']{
	--bg: rgb(251, 251, 251);
	--circle: #dfdddd;
	--hand: #000;
	--card-border:#628abb;
	--main-txt:#000000;
	--sound-txt:#3d5559;
	--card-bg: transparent;
}

html[data-theme='dark']{
	--bg: rgb(8, 7, 7);
	--circle: #dfdddd;
	--hand: #fff;
	--card-border:#a3b3b5;
	--main-txt:#000;
	--sound-txt:#3e747d;
	--card-bg: #fff;
}

html{
	font-size: 62.5%;
}
*{
	box-sizing: border-box;
}
body {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	background:	var(--bg);
  min-height: 100vh;
  margin: 0;
}
.theme{
	background: var(--card-bg);
	border: 2px solid var(--hand);
	user-select: none;
	padding: 10px;
	border-radius: 100px;
	cursor: pointer;
	color: var(--main-txt);
	font-size: 2.3rem;
	position: absolute;
	top: 10px;
	right: 10px;
}
.theme:hover{
	box-shadow: 0 0 10px var(--hand);
}

.clock{
	position: relative;
	width: 50rem;
	height: 50rem;
	border-radius: 100%;
	border: 1.2rem solid var(--hand);
}

.hand{
	border-radius: 3px;
	position: absolute;
	bottom: 50%;
	right: 50%;
	z-index: 10;
	background: var(--hand);
	transform-origin: 50% 100%;
}
.min-hand{
	width: 0.7rem;
	height: 19rem;
	transform: translateX(50%) rotate(300deg);
	}
 .sec-hand{
	width: 0.5rem;
	height: 21.6rem;
	transform: translateX(50%) rotate(0deg);
}
.hour-hand{
	width: 0.9rem;
	height: 15rem;
	transform: translateX(50%) rotate(0deg);
} 
.column-container{
	position: absolute;
	width: 100%;
	height: 100%;
}
.column{
	right: 50%;
	transform-origin: 50% 23.84rem;
	position: absolute;
	background: var(--hand);
	width: 0.2rem;
	height: 1.2rem;
	
}
.big{
	width: 0.4rem;
	height: 2rem;
}
.digital-clock{
	display: flex;
	padding-top: 30px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--hand);
	font-size: 2rem;
	font-weight: 500;
}
.digital-date{
}
.progress-div{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 10px;
}
.progress-ring {
  position: relative;
	color: var(--hand);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  background: conic-gradient(var(--hand) var(--progress, 0%), var(--circle) var(--progress, 0%));
  transition: all 0.3s;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}
.progress-ring span:first-child{

	position: absolute;
	bottom: -30px;
}
.progress-ring span:last-child{
	position: absolute;
	bottom: -20px;
}
#seconds-ring{
	--progress:0%;
}
#minutes-ring{
	--progress:20%;
}
#hours-ring{
	--progress:0%;
}



@media (max-width:600px) {
	html{
		font-size: 50%;
	}

}
@media (max-width:400px) {
	html{
		font-size: 40%;
	}

}