
html[data-theme='light']{
	--bg: rgb(251, 251, 251);
	--hand: #000;
	--card-border:#628abb;
	--main-txt:#303a45;
	--sound-txt:#3d5559;
	--card-bg: transparent;
}

html[data-theme='dark']{
	--bg: rgb(8, 7, 7);
	--hand: #fff;
	--card-border:#a3b3b5;
	--main-txt:#657b96;
	--sound-txt:#3e747d;
	--card-bg: #fff;
}

html{
	font-size: 62.5%;
}
*{
	box-sizing: border-box;
}
body {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	background:	var(--bg);
  min-height: 100vh;
  margin: 0;
}
.theme{
	background: var(--card-bg);
	border: 2px solid var(--card-border);
	user-select: none;
	padding: 10px;
	border-radius: 100px;
	cursor: pointer;
	color: var(--main-txt);
	font-size: 2.3rem;
	position: absolute;
	top: 10px;
	right: 10px;
}
.theme:hover{
	box-shadow: 0 0 10px var(--card-border);
}

.clock{
	position: relative;
	width: 50rem;
	height: 50rem;
	border-radius: 100%;
	border: 1.2rem solid var(--hand);
}

.hand{
	border-radius: 3px;
	position: absolute;
	bottom: 50%;
	right: 50%;
	z-index: 10;
	background: var(--hand);
	transform-origin: 50% 100%;
}
.min-hand{
	width: 0.7rem;
	height: 19rem;
	transform: translateX(50%) rotate(300deg);
	}
 .sec-hand{
	width: 0.5rem;
	height: 21.6rem;
	transform: translateX(50%) rotate(0deg);
}
.hour-hand{
	width: 0.9rem;
	height: 15rem;
	transform: translateX(50%) rotate(0deg);
} 
.column-container{
	position: absolute;
	width: 100%;
	height: 100%;
}
.column{
	right: 50%;
	transform-origin: 50% 23.84rem;
	position: absolute;
	background: var(--hand);
	width: 0.2rem;
	height: 1.2rem;
	
}
.big{
	width: 0.4rem;
	height: 2rem;
}
.digital-clock{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	bottom: 0px;
	color: var(--hand);
	font-size: 2rem;
	font-weight: 500;
}
.digital-date{
}


@media (max-width:600px) {
	html{
		font-size: 50%;
	}

}
@media (max-width:400px) {
	html{
		font-size: 40%;
	}

}