html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: sans-serif;
  font-size: 10px;
}

body{
  background: url("./assets/background.svg") bottom center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}



.clock{
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  border: 2rem solid rgb(58, 20, 58);
  background-color: rgba(252, 218, 184, 0.4);
  position: relative;
  
  .hand{
    
  }
}
.hand{
  width:45%;
  height: 0.6rem;
  background: rgb(58, 20, 58);  
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2, 0.5, 1);
}
.date-text{
  position: absolute;
  top:10rem;
  font-size: 3rem;
}

