:root {
  --accent-color: #e50914;
  --main-color: #292929;
  --white: #ffffff;
  --second-white: #b1b1b1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem 7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: clamp(2rem, 1.9vw, 3rem);
  text-align: center;
  margin: 2rem 0;
  color: var(--main-color);
}

.title-video {
  font-size: 3rem;
  color: var(--white);
  position: absolute;
  top: 4%;
  left: 2%;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.player {
  position: relative;
  font-size: 1.6rem;
  max-height: 100vh;
  overflow: hidden;
  color: var(--white);
}

.player:focus {
  outline: none;
}

.player__video {
  width: 100%;
  height: 100%;
  display: block;
}

.player-controls {
  width: 96%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  transition: transform 0.3s;
}

.player-controls.is-hidden {
  transform: translate(-50%, 120%);
}

.player-controls.is-hidden + .title-video {
  transform: translateY(-200%);
  opacity: 0;
}

.player-controls__bottom-part {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-controls__bottom-part--left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.player-controls__bottom-part--right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.player__play,
.player__rewind-forward,
.player__rewind-back,
.player__volume,
.player__full-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  aspect-ratio: 1 / 1;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  filter: brightness(1) invert(1);
}

.player__play {
  background-image: url(./assets/icons/play.png);
}

.player__play.is-pause {
  background-image: url(./assets/icons/pause.png);
}

.player__rewind-forward {
  background-image: url(./assets/icons/next.png);
}

.player__rewind-back {
  background-image: url(./assets/icons/prev.png);
}

.player__volume {
  background-image: url(./assets/icons/vulume.png);
}

.player__volume.is-mute {
  background-image: url(./assets/icons/mute.png);
}

.player__full-screen {
  background-image: url(./assets/icons/full.png);
}

.player__full-screen.is-full {
  background-image: url(./assets/icons/close-full.png);
}

/* Slider */

.slider {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}

.slider-visible {
  overflow: hidden;
  width: 100%;
  max-width: 94%;
}

.slider-track {
  width: 400%;
  display: flex;
  gap: 1.5rem;
  transform: translateX(calc(100% / -12 * 3 - 1.5rem * 3));
}

.slider-item {
  position: relative;
  max-width: calc(100% / 12);
  flex-shrink: 0;
  width: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.slider-item.active::after,
.biblioteka__item.active::before {
  content: "● ● ●";
  color: var(--white);
  font-size: clamp(1rem, 2.3vw, 4rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-item.active {
  opacity: 0.5;
  pointer-events: none;
}

.title-slider-item {
  position: absolute;
  color: white;
  font-size: 1.4rem;
  top: 5%;
  left: 5%;
  letter-spacing: 6%;
}

.slider-item img {
  width: 100%;
  height: auto;
}

.btn-slider {
  font-size: 5rem;
  padding: 1rem;
  max-width: 4rem;
  text-align: center;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;

  transition: background-color 0.3s;
  border: none;
}

.biblioteka-list {
  margin-top: 3rem;
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  row-gap: 5rem;
}

.biblioteka-list::before {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid;
  border-color: var(--main-color);
}

.biblioteka__item {
  position: relative;
  width: 30%;
  max-width: 45rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.biblioteka__item.active {
  opacity: 0.4;
  pointer-events: none;
}

.biblioteka__item img {
  display: block;
  width: 100%;
  height: auto;
}

.item-subtitle {
  text-align: center;
  font-size: clamp(1.4rem, 1.04vw, 2rem);
  margin: 0.5rem 0 0.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  background: transparent;
}
input[type="range"]:focus {
  outline: none;
}

.player__track {
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--accent-color);
  margin-top: -5px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--accent-color);
}

@media (max-width: 768px) {
  .slider-track {
    width: 600%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .slider-item:hover::before {
    content: "▶";
    color: var(--white);
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .slider-item:hover {
    transform: scale(1.04);
  }

  .btn-slider:hover {
    background-color: var(--second-white);
  }

  .biblioteka__item:hover::before {
    content: "▶";
    color: var(--white);
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .biblioteka__item:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
  }
}
